classExamples/ozyTester.rnc

start = root
root = element Ozymandias {layer}
layer = element layer {agent, line*, pos*}
agent = attribute agent {"I" | "sculptor" | "traveller" | text}
line = element line {n, mixed{ (layer | ellipsis)* }}
n = attribute n {xsd:integer}
ellipsis = element ellipsis {rend, empty}
rend = attribute rend {text}
pos = attribute pos {"start" | "end"}